
VITE_SUPABASE_URL=https://umshzlvxkcenkduoecyg.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtc2h6bHZ4a2NlbmtkdW9lY3lnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3NTcxOTEsImV4cCI6MjEwMTMzMzE5MX0.vS1IuKpDl33veVuXIN7Wbho_YMkg2WZzvPrT9UbNpPQ
